@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue Regular.ttf");
}
@font-face {
    font-family: "Open Sans Condensed-Light";
    src: url("../fonts/OpenSansCondensed-Light.ttf");
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PT_Sans-Web-Regular.ttf");
}