body{
    font-family: "Lato", "sans-serif";
}

summary {
    outline: none;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    color: #222222;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-D {
    color: #f16d7f;
    font-weight: 600;
    letter-spacing: 0.68px;
}

.header-form {
    display: flex;
    align-items: center;
}

.browse {
    position: relative;
    margin-left: 46px;
    width: 87px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.browse:hover .browse-drop-box {
    display: flex;
}

.browse-arrow {
    margin-left: 5px;
}

.browse-drop-box {
    display: none;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: -10px;
}

.browse-drop-header {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.4px;
    border-bottom: 1px solid #e8e8e8;
    width: 150px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px;
}

.browse-drop-header:last-of-type {
    padding-top: 0;
}

.browse-drop-ul{
    list-style-type: none;
    text-align: left;
    padding: 10px;
}

.browse-drop-link {
    display: block;
    color: #232323;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 28px;
    text-decoration: none;
}

.browse-drop-link:hover {
    color: #f16d7f;
}

.input {
    width: 280px;
    height: 36px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.space-magnifier {
    width: 36px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    margin-right: 30px;
    margin-top: 7px;
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    height: 38px;
    border-radius: 3px;
    background-color: #f16d7f;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
}

.faMyAccount {
    color: white;
    margin-left: 4px;
    margin-bottom: 4px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
}

.menu-link {
    display: block;
    padding: 20px 15px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    border-bottom: 3px solid #f16d7f;
}

.under-nav {
    height: 100%;
    background-color: #f8f3f4;
}

.new-arrivals-flex {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-arrivals-left-text {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.new-arrivals-right-text {
    text-transform: uppercase;
}

.home-link {
    text-decoration: none;
    color: #636363;
    font-size: 14px;
    font-family: "Lato Light";
    font-weight: 600;
    text-transform: uppercase;
}

.right-text-last-part {
    color: #f16d7f;
    font-family: "Lato - Bold";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.central-part {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.central-left {
    display: flex;
    flex-direction: column;
}

.border-text {
    width: 5px;
    height: 37px;
    background-color: #ef5b70;
}

summary {
    width: 247px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #ef5b70;
    padding-left: 10px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "\25B6";
    padding-right: 10px;
}

details[open] > summary::after {
    content: "\25BC";
}

.menu-catalog {
    list-style-type: none;
}

.menu-catalog-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.menu-catalog-link:hover {
    color: #f16d7f;
}

.central-right {
    display: flex;
    flex-direction: column;
    width: 846px;
}

.forms {
    display: flex;
    justify-content: space-between;
}

.form-header {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.form1-text {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.symbol {
    color: #dfdfdf;
    padding-left: 7px;
    padding-right: 7px;
}

fieldset {
    width: 300px;
    height: 39px;
    border: 0;
    padding: 0;
    margin: 0;
}

.checkbox {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}

.label {
    display: inline-block;
	vertical-align: middle;
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    padding-right: 39px;
    }

.checkbox:checked + .checkbox-custom::before {
	content: "";            
	display: block;			 
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;
	border-radius: 2px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.range {
    width: 262px;
    height: 6px;
    border-radius: 3px;
    background-color: #f0f0f0;
    margin-top: 10px;
}

.price-min-max {
    width: 262px;
    display: flex;
    justify-content: space-between;
}

.price-min-max {
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;    
}

.menu-sort {
    width: 846px;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}

.sort-by {
    width: 153px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-left: 9px;
    display: flex;
    align-items: center;
}

.sort-by-text {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    margin-left: 13px;
}

.sort-by-line {
    width: 1px;
    height: 28px;
    border: 1px solid #ebebeb;
    background-color: #dfdfdf;
    margin-left: 8px;
}

.name-text {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    margin-left: 11px;
}

.name-arrow {
    margin-left: 21px;
}

.show {
    width: 119px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.show-text {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
}

.text09 {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
}

.product-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item-product {
    position: relative;
    width: 263px;
    margin-bottom: 38px;
}

.item-product:hover .parrent-addtocart{
    display: flex;
}

.item-product:hover img {
    filter: brightness(50%);
}

.item-product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product {
    display: block;
    text-decoration: none;
}

.mango-people-text {
    color: #6f6e6e;
    font-size: 13px;
    font-family: "Lato";
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 15px;
    padding-bottom: 0;
}

.mango-people-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.parrent-addtocart {
    position: absolute;
    top: 94px;
    display: none;
    justify-content: center;
    width: 263px;
}

.add {
    height: 39px;
    border: 1px solid #ffffff;
    display: block;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    line-height: 39px;
    padding-left: 14px;
    padding-right: 14px;
    transition: 1s;
}

.add:hover {
    color: #f16d7f;
    border-color: #f16d7f;
    background-color: #fff;
}

.viewall {
    margin-top: 43px;
}

.dark-container {
    width: 1600px;
    height: 341px;
    background-color: #222224;
    margin: 110px auto 0 auto;
}

.dark-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-block-header {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.dark-block-text {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    }

.author-block {
    width: 1600px;
    height: 438px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    background-image: url(img/author.jpg);
}

.author-block-left {
    width: 799px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.foto-author {
    width: 83px;
    height: 83px;
    border-radius: 50px;
    margin-top: 111px;
    margin-left: 230px;
}

.text-author {
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    margin-left: 28px;
    width: 386px;
    height: 100%;
}

.text-author-part1 {
    margin: 0;
    color: #222224;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
}

.BinBurhan {
    margin-bottom: 0;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    font-family: "Lato - Bold";
    letter-spacing: 0.4px;
}

.Dhaka {
    margin-top: 0;
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.lines {
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 4px;
    margin-top: 41px;
}

.line1 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.line2 {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
}

.white-line {
    width: 1px;
    height: 100%;
    background-color: #ffffff;
}

.author-block-right {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-header {
    margin: 0;
    color: #222224;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.subscribe-text {
    color: #222224;
    font-size: 14px;
    letter-spacing: 0.35px;;
    text-transform: uppercase;
    
}

.email-space{
    display: flex;
    justify-content: center;
}

.email {
    width: 262px;
    height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #e1e1e1;
}

.subscribe-button {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.buttom-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 109px;
}

.butttom-brand-space {
    display: flex;
    flex-direction: column;
}

.scroll {
    margin-top: 30px;
    width: 427px;
    height: 180px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    overflow-x: scroll;
}

.links-buttom {
    display: flex;
    flex-direction: column;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
}

.menu-company {
    list-style-type: none;
}

.menu-company-link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.menu-company-link:hover {
    color: #f16d7f;
}

.footer {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    margin-top: 97px;
}

.copy-rights {
    width: 260px;
    height: 14px;
    color: #7a7a7a;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.4px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 192px;
    height: 32px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    height: 79px;
    background-color: #e6e6e6;
}

.icon-block {
    width: 32px;
    height: 32px;
    display: block;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
    color: #b2b2b2;
}

.icon-block:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}

.mega-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}

.menu-list:hover .mega-menu {
    display: flex;
    left: 500px
}

.mega-menu-header {
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
}

.mega-menu-section {
    list-style-type: none;
}

.menu-section-2 {
    margin-left: 45px;
}

.mega-menu-link {
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
}

.mega-menu-link:hover {
    color: #f16d7f;
}

.super-sale-img {
    width: 255px;
    height: 118px;
    background-image: url('../img/supersale.png');
    margin-top: 20px;
}

.super-sale-img:hover .bunner-super-sale{
    color: #f16d7f;
}

.bunner-super-sale {
    padding-top: 55px;
    padding-left: 180px;
    font-family: Lato;
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    transition: 1s;
}

.cart:hover .drop-cart {
    display: flex;
}

.drop-cart {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5%;
    padding: 25px 5px 5px 5px;
}

.drop-cart-block {
    display: flex;
    padding: 16px 10px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.75);
}

.cart-mini-img {
    width: 72px;
    height: 85px;
}

.cart-item-info {
    width: 76px;
    margin-left: 15px;
}

.rebox-zane {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating-item {
    display: flex;
}

.rating-star {
    width: 12px;
    height: 12px;
}

.cart-item-price {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    color: #f16d7f;
}

.delBtn-block {
    display: flex;
    align-items: center;
}

.delBtn {
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    color: #c0c0c0;
    margin-left: 30px;
}

.delBtn:hover {
    color: #f16d7f;
}

.drop-total {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
}

.cart-checkout-link {
    width: 225px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 11px;
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4a4a4a;
    border: 1px solid #eaeaea;
    transition: 1s;
}

.cart-checkout-link:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.cart-count {
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: #f16d7f;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.price-rating-container{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.item-rating {
    display: flex;
    align-items: center;
}

.item-rating > .rating-star {
    width: 16px;
    height: 16px;
}



